* {
  box-sizing: border-box;
}

body {
  margin:0;
  font-family: "Poppins", sans-serif;
}

html {
  height: 100%;
}

#logo-text {
  font-size: 1.6rem;
  text-align: center;
  margin: 50px auto;
  text-decoration: underline;
  text-underline-offset: .6rem;
}

.download {
  margin: 25px auto;
  text-align: center; 
}

#url, #url-button {
  height: 40px;
}

#url {
  max-width: 500px;
  width: 50%;
  
}

#url, #url-button {
  border: 0;
  border-radius: 4px;
  background-color: rgba(255, 0, 0, 0.479);
  padding: 8px;
  color: white;
  outline: none;
  font-size: 16px;
}

#url-button {
  max-width: 100px;
  width: 10%;
}

form > p {
 text-align: center ;
  font-size: 15px;
}


#note {
  margin-top: 12rem;
  font-size: 20px;
  text-align: center;
  color: #fff;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0073e6, 0 0 40px #0073e6, 0 0 50px #0073e6, 0 0 60px #0073e6, 0 0 70px #0073e6;
  }
}


.note-nest {
  background-color: #375a8b;
  color: #dfe0e4;
}

.thumbnail {
  border-radius: 4px;
}

.image {
  text-align: center;
}

.video-card {
  text-align: center;
}

#info {
  text-align: left;
  margin: 25px auto;
  padding: 20px;
  width: 40%
}

#downloads {
  border-collapse: collapse;
  width: 50%;

}


.center {
  margin-left: auto;
  margin-right: auto;
}




@media only screen and (max-width: 600px){
  #info {
    width: 60%;
  }

  #downloads {
    width: 55%;
  
  }


#url {

  width: 60%;
  
}
}

@media only screen and (max-width: 400px){
  #info {
    width: 70%
  }

  #downloads {
    width: 60%;
  
  }


#url {

  width: 70%;
  
}
}

@media only screen and (max-width: 340px){
  #info {
    width: 80%
  }

  #downloads {
    width: 70%;
  
  }


#url {

  width: 70%;
  
}

#url-button {
  max-width: 100px;
  width: 20%;
}
}



@media only screen and (max-width: 300px){
  #info {
    width: 95%
  }
  #downloads {
    width: 80%;
  
  }

#url {

  width: 70%;
  
}

#url-button {
  max-width: 100px;
  width: 20%;
}
}

#info > p {
  margin: 4px;
}



#downloads td, #downloads th {
  border: 1px solid #ddd;
  padding: 4px;
}

#downloads tr:nth-child(even){background-color: #f2f2f2;}

#downloads tr:hover {background-color: #ddd;}

#downloads th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background-color: #2eb885ea;
  color: white;
}

.btn {
	width: 100%;
    height: 35px;
	cursor: pointer;
  	border-radius: 4px;
    border: 0;
    color: white;
    background-color: rgba(117, 175, 9, 0.801);
}


.btn:hover {
	background-color: rgba(129, 155, 57, 0.952);
    transition: .8s;
	}
